@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');

#navigation {
	font-family: "arial black";
  padding: 20px;
}

#navigation div {
	display: flex;
	justify-content:center;
	align-items: center;
	background-color: #333;
	overflow: hidden;
}

#navigation div a {
	color: #f2f2f2;
	padding: 18px 20px;
	text-decoration: none;
	font-size: 20px;
}

#navigation div a:hover {
	background-color: #ddd;
	color: black;
}

#navigation div a.active {
	background-color: #41BF0D;
	color: white;
}

body {
    font-family: 'Arbutus Slab';font-size: 20px;
}
html {
   background-color: lightblue;
}
h3 {
	color: #E6970D;
	text-decoration: underline;
}
h2 {
	font-size: 25px;
}
h1 { 
	color: black;
	font-size: 50px;
}
.maininfo {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
}
#certification {
	color: #41BF0D;
	text-decoration: underline;
}

.summary, p {
	margin-left: 2em;
} 

.media {
	display:flex;
	justify-content:space-evenly;
}

#title {
	font-family: 'comicsans';
	color: #B54EFF;
	font-style: italic;
	margin-left: 1em;
}

#title2 {
	font-family: 'Courier New', Courier, monospace;
	color: #FF22BC;
	text-align: center;
}

.media2 {
	display:flex;
	justify-content:space-evenly;
}

.third {
	color: #7000A5;
	text-decoration: underline;
}
#map {
	height: 940px;
	width: 100%;
}


@media only screen and (min-width: 600px)
{
h1 { color: black;
}
#navigation {
	font-family: "arial black";
  padding: 20px;
}

#navigation div {
	display: flex;
	justify-content:center;
	align-items: center;
	background-color: #333;
	overflow: hidden;
}

#navigation div a {
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

#navigation div a:hover {
	background-color: #ddd;
	color: black;
}

#navigation div a.active {
	background-color: #41BF0D;
	color: white;
}
body {
    font-family: 'Arbutus Slab';font-size: 22px;
}
h2 {
	font-size: 30px;
}
html {
	background-color: lightgreen;
 }
 #certification {
	color: violet;
	text-decoration: underline;
}
h3 {
	color: darkblue;
	text-decoration: underline;
}
@media only screen and (min-width: 922px)
{
h1 { 
	color: black;
}
#navigation {
	font-family: "arial black";
	padding: 20px;
}
		
#navigation div {
	display: flex;
	justify-content:center;
	align-items: center;
	background-color: #333;
	overflow: hidden;
}
		
#navigation div a {
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
}
		
#navigation div a:hover {
	background-color: #ddd;
	color: black;
}
		
#navigation div a.active {
	background-color: #41BF0D;
	color: white;
}
body {
	font-family: 'Arbutus Slab';font-size: 22px;
}
h2 {
	font-size: 30px;
}
html {
	background-color: lightgoldenrodyellow;
}
h3 {
	color: darkolivegreen;
	text-decoration: underline;
}
#certification {
	color: orangered;
	text-decoration: underline;
}
* {box-sizing:border-box}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.mySlides {
	display: none;
}
#slide1 img {
	width: 100%
 }
 #slide2 img {
	width: 100%
 }
 #slide3 img {
	width: 100%
 }
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
}
}